@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --monad-purple: #836EF9;
}

body {
  background: #000;
  color: #fff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #836EF9;
  border-radius: 3px;
}
